<div class = "main-chat">
  <div class = "main-header">
    <div class = "group-name" ><%= @room.name %></div>
    <div class = "exit-button" >
      <%= link_to "チャットを終了する", room_path(@room), method: :delete %>
    </div>
  </div>
  <div class = "center-chat">
      <%= render partial: 'message', collection: @messages %>
  </div>
  
  <%= form_with model: [@room, @message], html: {class: "main-fotter"}, local: true do |f| %>
    <div class="input-form">
      <%= f.text_field :content, class: 'message-input', placeholder: 'type a message' %>
      <label class="form-image">
        <span class="image-file">画像</span>
        <%= f.file_field :image, class: 'hidden' %>
      </label>
    </div>
    <%= f.submit '送信', class: 'sent' %>
  <% end %>
    
  </div>
